html, body {
    height: 100%;
  }
  
/*--- HOME MATERIA ---*/
.tituloHome {
    font-weight: 200;
    color: #ffffff;
    font-size: 6vh;
}
.parrafoHome{
    font-size: 2vh;
    line-height: 160%;
    font-weight: 400;
    color: rgba(255,255,255,0.8);
}
#home{
    background-image: url(../img/background-prg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 60px 0 170px 0;
}
#portfolio{
    margin-top: -128px;
    flex: 1 0 auto;
    height: 100%;
    /*height:auto;
    min-height:420px;
    height:auto !important;
    height:420px;*/
}
#filtros-portfolio li a{
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding: 5px 10px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    letter-spacing: 0.5px;
    border: 1px solid #fff;
    border-radius: 2px;
}
#filtros-portfolio li a.active, #filtros-portfolio li a:hover{
    background: #ad2540;
    text-decoration: none;
}
.list-inline {
    display: flex;
    justify-content: center;
}
#contenido {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
.awesome-img{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.awesome-img img{
    transform: scale(1);
    transition: 0.4s;
}
.single-awesome-project{
    overflow: hidden;
    position: relative;
}
.single-awesome-project:hover .awesome-img img{
    transform: scale(1.1);
    transition: 0.4s;
}
.awesome-img > a {
    display: block;
    position: relative;
}
.project-dec h4 {
    color: #fff;
    font-size: 22px;
    position: absolute;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
    margin-bottom: 5px;
    cursor: pointer;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.project-dec{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #007e8e; 
}

.single-awesome-project:hover .project-dec{

    opacity: 1;
}
/*--- FIN HOME MATERIA ---*/
/*--- DETALLE PROYECTO ---*/
.tituloDetalles
{
    font-weight: 700;
    font-size: 30px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 20px;
}
.descripcionProyec{
    font-family: Arial, Helvetica, sans-serif;
}
.colorPpal{
    color:#007e8e;
}
.container a span{
    color: #ad2540;
    font-size: 35px;
    padding-top: 40px;
}
/*--- FIN DETALLE PROYECTO ---*/

/*--- FOOTER ---*/
footer {
    background-color:#02626f;
    color: #fff;
    margin-top: 40px;

    flex-shrink: 0;
}
footer a {
    color: #fff;
}
footer a:hover{
    color: #06a9bf;
}
footer .footer-copyright {
    overflow: hidden;
    color: rgba(255,255,255,0.6);
    background-color: rgba(0,0,0,0.2);
}


/*--- FIN FOOTER ---*/

/*--- SPINNER LOADER ---*/
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #007e8e;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
    text-align: center;
  }
/*--- FIN SPINNER LOADER ---*/


